@import "tailwindcss";

@theme inline {
  /* Deep dark slate background */
  --color-background: #0B0E14;
  --color-surface: #151A23;
  --color-surface-hover: #1E2532;
  
  /* Vibrant Sunset Orange for primary branding */
  --color-primary: #FF5A26;
  --color-primary-hover: #FF7549;
  
  /* Live Indicator Red */
  --color-live: #FF2E2E;
  
  /* Typography */
  --color-text-main: #FFFFFF;
  --color-text-muted: #8E9BB0;
  
  /* Borders */
  --color-border: #2A3143;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3A455C;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
